{% extends "bootstrap/base.html" %}
{%  import "bootstrap/wtf.html" as wtf %}

{% block styles %}
<!-- Bootstrap core CSS-->
<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template-->
<link href="/static/css/sb-admin.min.css" rel="stylesheet">
<!-- Personal style-->
<link href="/static/css/my-style.css" rel="stylesheet">
{% endblock %}

{% block content %}
<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form method="POST" action="">
          <dl>
            {{ wtf.quick_form(form) }}
            <input class="btn btn-primary btn-block" type="submit" value="Register">
          </dl>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/login">Login Page</a>
          <a class="d-block small" href="">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
